<div class="container">
  <div class="row justify-content-center align-items-center">

    <div class="game">
      <div class="text-center">
        <h1 [hidden] = "isCross" class="uppercase text-muted">Player One Turn</h1>
        <h1 [hidden] = "!isCross" class="uppercase text-muted">Player Two Turn</h1>
      </div>

      <div class="grid">
        <div *ngFor="let item of itemArray; index as i">
          <div class="card">
            <div class="card-box box" (click)="handleClick(i)">
              <app-icon [iconName]='item'></app-icon>
            </div>
          </div>
        </div>
      </div>

    </div>
  

    <!-- <div> class="col col-lg-2 text-center" -->
      <div class="info">
      <h1  *ngIf="winMessage" class="text-uppercase">Game Over!! {{winMessage}} !!</h1>
      <button 
      (click) = "reloadGame()" 
      class="btn btn-warning text-uppercase pl-5 pr-5 justify-content-center">
        Reload Game
      </button>
    </div>

  </div>
</div>