.container,
.row {
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: aliceblue;
}
.game{
  width: 80%;
  justify-content: center;
  text-align: center;
}

.info{
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
}